* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #f6f8fa;
  font-family: sans-serif;
}

/* ******* HEADER ******* */
header {
  background-color: white;
  padding: 10px 0px 10px 20px;
}
header span {
  font-size: 32px;
  font-weight: bold;
}

.vertical-align-middle {
  vertical-align: middle;
}

/* ******* MAIN ******* */
main .container {
  background-color: white;
  border-radius: 10px 0 10px 10px;
  width: 800px;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 15px 50px 50px 50px;
}

.btn-section button {
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-section .btn-primary {
  background-color: #3eb0f7;
  color: white;
  border: 1px solid #3eb0f7;
}

.btn-section .btn-secondary {
  background-color: white;
  color: lightgrey;
  border: 1px solid lightgrey;
}

.task-group {
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

li {
  margin: 15px 0px;
}

/* checkmark or cross for li items */

li.done::before {
  content: "\2713";
  border: 1px solid green;
  border-radius: 50%;
  padding: 2px 4px;
  color: green;
  margin-right: 7px;
}

li.not-done::before {
  content: "\2573";
  border: 1px solid red;
  border-radius: 50%;
  padding: 2px;
  color: red;
  margin-right: 7px;
}

/* LABELS for li items */

li::after {
  color: white;
  margin: 0px 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

li.editorial-label::after {
  content: "Editoral";
  background-color: #44abe5;
}

li.q1-goals-label::after {
  content: "Q1 Goals";
  background-color: #9d74eb;
}

li.recruiting-label::after {
  content: "Recruiting";
  background-color: #65c3a8;
}

li.recruiting-label::after {
  content: "Mobile";
  background-color: #eda22f;
}

li.website-label::after {
  content: "Website";
  background-color: #dc659d;
}

li.sales-label::after {
  content: "Sales";
  background-color: #acc627;
}
